.place__title {
    grid-area: title;
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    align-self: flex-end;
}

@media (min-width: 461px) and (max-width: 768px) {
    .place__title {
        max-width: 330px;
        font-style: normal;
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
    }
}

@media (max-width: 460px) {
    .place__title {
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        align-self: flex-start;
        margin: 0 16px 0 16px;
    }
}