.cover__description {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: inherit;
    z-index: 1;
}