.header__language {
    list-style-type: none;
    margin-right: 18px;
}

.header__language:last-child {
    margin-right: 0;
}

@media (max-width: 670px) {
    .header__language {
        width: 100%;
    }
}