.intro__title {
    max-width: 690px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0 0 40px;
}

@media (max-width: 670px) {
    .intro__title {
        max-width: 236px;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        margin: 0 0 40px;
    }
}